.mt-5 {
    margin-top: 3rem !important;
}


.p-5 {
    padding: 3rem !important;
}


.p-3 {
    padding: 1rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

body {
    background-color: #f8f9fa;
}
